<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pantherpublishers.ud.shell">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:name="com.pantherpublishers.ud.shell.utils.Activities.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.pantherpublishers.ud.shell.utils.Activities.LogActivity"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />-->

        <activity
            android:name="com.pantherpublishers.ud.shell.MediaPlayerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.pantherpublishers.ud.shell.dictionary.Info" />
        <activity android:name="com.pantherpublishers.ud.shell.Notes" />
        <activity android:name="com.pantherpublishers.ud.shell.Transcript" />
        <activity android:name="com.pantherpublishers.ud.shell.ContentActivity" />
        <activity android:name="com.pantherpublishers.ud.shell.utils.Activities.CollectionsActivity" />
        <activity android:name="com.pantherpublishers.ud.shell.utils.Activities.DMLanguageActivity" />
        <activity android:name="com.pantherpublishers.ud.shell.PageActivity" />
        <activity android:name="com.pantherpublishers.ud.shell.VideoChecker2Activity" />
        <activity android:name="com.pantherpublishers.ud.shell.VideoPlay2Activity" />
        <activity android:name="com.pantherpublishers.ud.shell.VideoDownloader2Activity" />
        <activity android:name="com.pantherpublishers.ud.shell.utils.Activities.RegisterActivity" />
        <activity android:name="com.pantherpublishers.ud.shell.PreviewActivity" />
        <activity android:name="com.pantherpublishers.ud.shell.PlayActivity" />
        <activity
            android:name="com.pantherpublishers.ud.shell.dictionary.Firstpage"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.pantherpublishers.ud.shell.dictionary.Main" />
        <activity android:name="com.pantherpublishers.ud.shell.dictionary.VideoPlay2Activity"
        android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.pantherpublishers.ud.shell.InfoActivity"/>

    </application>
</manifest>